<footer>
    <div class="footer_contents">
        <div class="foot_top">
            <ul class="footer-list no-bullet">
                <li><a href="/">{{ site.title }}</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/colophon">Site Information</a></li>
            </ul>
        </div>
        <div class="foot_bottom">
            <ul class="footer-list no-bullet">
                <li>&copy; Copyright 2000-
                    <script language="JavaScript" type="text/javascript">
                    now = new Date
                    theYear = now.getYear()
                    if (theYear < 1900)
                        theYear = theYear + 1900
                    document.write(theYear)
                    </script>
                    The Regents of the University of California, Davis campus. All rights reserved.
                </li>
                <!-- <li><a href="http://kb.sparknearby.com/legal">Contact</a></li>
                <li><a href="/posts/all">Recent</a></li> -->
            </ul>
            <ul class="footer-list no-bullet float-right">
                <li><a href="https://twitter.com/SparkNearby"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Spectafy"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
