<footer>
    <div class="footer_contents">
        <div class="foot_top">
            <ul class="footer-list no-bullet">
                <li><a href="http://kb.sparknearby.com">{{site.title}}</a></li>
                <li><a href="/places/lnnbibQCca/Haight%20Ashbury%2C%20San%20Francisco">Trending places</a></li>
            </ul>
        </div>
        <div class="foot_bottom">
            <ul class="footer-list no-bullet">
                <li><a href="https://spectafy.com/">Spectafy Labs</a></li>
                <li><a href="http://kb.sparknearby.com/legal">Legal</a></li>
                <li><a href="/posts/all">Recent</a></li>
            </ul>
            <ul class="footer-list no-bullet float-right">
                <li><a href="https://twitter.com/SparkNearby"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Spectafy"><i class="fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</footer>