<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <div class="menu-btn">
                <i class="fa fa-bars"></i>
            </div>
            <a href="/"><img class="caeslogo" src="/media/caes_logo.svg" alt=""></a>
        </div>
        <div class="search_wrapper">
            <form action="search.html">
                <input type="text" name="q" id="tipue_search_input" autocomplete="off" required>
            </form>
            <div id="tipue_search_content"></div>
        </div>
    </div>
</header>
<nav id="main-nav">
    <div class="nav-wrapper">
        <ul>
            <li>
                <a href="/components">Components</a>
                <ul>
                    <li><a href="/components#nivo">Slider</a></li>
                    <li><a href="/components#bgvideo">Video</a></li>
                    <li><a href="/components#icons">Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="/styleguide">Styleguide</a>
            </li>
            <li>
                <a href="/news">News</a>
                <ul>
                    <li><a href="/feed/">News</a></li>
                    <li><a href="/feed/events.html">Events</a></li>
                    <li><a href="/feed/tags.html">Tag list</a></li>
                </ul>
            </li>
            <li>
                <a href="/events">Events</a>
            </li>
        </ul>
    </div>
</nav>
<div class="slideout-wrapper">
    <!-- Pushy Menu -->
    <nav id="slideout-nav" class="pushy pushy-left">
        <ul>
            <!-- Submenu -->
            <li class="pushy-submenu">
                <a href="#">Components</a>
                <ul>
                    <li class="pushy-link"><a href="components#nivo">Slider</a></li>
                    <li class="pushy-link"><a href="components#bgvideo">Video</a></li>
                    <li class="pushy-link"><a href="components#icons">Icons</a></li>
                </ul>
            </li>
            <li class="pushy-link"><a href="/styleguide">Styleguide</a></li>
            <!-- Submenu news -->
            <li class="pushy-submenu">
                <a href="/news">News</a>
                <ul>
                    <li><a href="/feed/">News</a></li>
                    <li><a href="/feed/events.html">Events</a></li>
                    <li><a href="/feed/tags.html">Tag list</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
