<header>
    <div class="header_contents">
        <div class="logo">
            <a href="/"><img class="caeslogo" src="/media/caes_logo.svg" alt=""></a>
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul>
            <li>
                <a href="/layout">Layouts</a>
            </li>
            <li>
                <a href="/components" aria-haspopup="true">Components</a>
                <ul class="submenu arrow_box">
                    <li><a href="/components#nivo">Slider</a></li>
                    <li><a href="/components#video">Video bg</a></li>
                    <li><a href="/components#icons">Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="/styleguide">Styleguide</a>
            </li>
            <li>
                <a href="/feeds" aria-haspopup="true">Feeds</a>
                <ul class="submenu arrow_box">
                    <li><a href="/feed/">News</a></li>
                    <li><a href="/feed/events">Events</a></li>
                    <li><a href="/feed/tags">Tag list</a></li>
                </ul>
            </li>
        </ul>
        <!--         <div class="search_form">
        <form>
            <input type="text" class="st-default-search-input">
        </form>
        
        </div> -->
    </nav>
</div>
