<header>
    <div class="header_contents">
        <div class="logo_wrapper">
            <a href="/"><img class="caeslogo" src="/media/caes_logo.svg" alt=""></a>
        </div>
        <div style="display:none" class="search_wrapper">
                <form>
                    <input class="search_input" type="text" value="">
                </form>
        </div>
    </div>
</header>
<div class="nav_wrapper">
    <nav id="nav" role="navigation">
        <a class="nav_open" href="#nav" title="Show navigation"><i class="fa fa-bars"></i></a>
        <a class="nav_close" href="#" title="Hide navigation"><i class="fa fa-times"></i></a>
        <ul id="nav_upperlevel">
            <li>
                <a href="/components" aria-haspopup="true">Components</a>
                <ul class="submenu">
                    <li><a href="/components#nivo">Slider</a></li>
                    <li><a href="/components#bgvideo">Video</a></li>
                    <li><a href="/components#icons">Icons</a></li>
                </ul>
            </li>
            <li>
                <a href="/styleguide">Styleguide</a>
            </li>
            <li>
                <a href="/news">News</a>
                <!-- <ul class="submenu">
                    <li><a href="/feed/">News</a></li>
                    <li><a href="/feed/events.html">Events</a></li>
                    <li><a href="/feed/tags.html">Tag list</a></li>
                </ul> -->
            </li>
            <li>
                <a href="/events">Events</a>
                <!-- <ul class="submenu">
                    <li><a href="/feed/">News</a></li>
                    <li><a href="/feed/events.html">Events</a></li>
                    <li><a href="/feed/tags.html">Tag list</a></li>
                </ul> -->
            </li>
        </ul>
    </nav>
</div>
