---
layout: default
---

<div class="banner">
    <div class="banner_contents">
        <h2>Grid</h2>
        <p>
            Taken from Skeleton.css
        </p>
    </div>
</div>
<main>
    <div class="main_contents">
        <aside>
            <h3>Lagunitas</h3>
            <p>Adding new quotes to the generator nearly daily. Shareable quote images coming in a few days.</p>
        </aside>
        <article>
            <div class="grid">
                <h3>The grid</h3>
                <p>The grid is a <u>12-column fluid grid with a max width of 960px</u>, that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser. </p>
                <div class="example-grid docs-example">
                    <div class="row">
                        <div class="one column">
                            <p>One</p>
                        </div>
                        <div class="eleven columns">
                            <p>Eleven</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="two columns">
                            <p>Two</p>
                        </div>
                        <div class="ten columns">
                            <p>Ten</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="three columns">
                            <p>Three</p>/div>
                            <div class="nine columns">
                                <p>Nine</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four columns">
                                <p>Four</div>
                        </div>
                        <div class="eight columns">
                            <p>Eight</div>
                    </div>
                </div>
                <div class="row">
                    <div class="five columns">
                        <p>Five</p>
                    </div>
                    <div class="seven columns">
                        <p>Seven</p>
                    </div>
                </div>
                <div class="row">
                    <div class="six columns">
                        <p>Six</p>
                    </div>
                    <div class="six columns">
                        <p>Six</p>
                    </div>
                </div>
                <div class="row">
                    <div class="seven columns">
                        <p>Seven</p>
                    </div>
                    <div class="five columns">
                        <p>Five</p>
                    </div>
                </div>
                <div class="row">
                    <div class="eight columns">
                        <p>Eight</p>
                    </div>
                    <div class="four  columns">
                        <p>Four</p>
                    </div>
                </div>
                <div class="row">
                    <div class="nine columns">
                        <p>Nine</p>
                    </div>
                    <div class="three columns">
                        <p>Three</p>
                    </div>
                </div>
                <div class="row">
                    <div class="ten columns">
                        <p>Ten</p>
                    </div>
                    <div class="two columns">
                        <p>Two</p>
                    </div>
                </div>
                <div class="row">
                    <div class="eleven columns">
                        <p>Eleven</p>
                    </div>
                    <div class="one column">
                        <p>One</p>
                    </div>
                </div>
            </div>
    </div>
    </article>
    </div>
</main>
