// breadcrumb
.breadcrumb {
    .breadcrumb__wrapper {
        @include container;
    }
}
.calloutheader {
    display: inline-block;
    border-bottom:5px solid;
    border-color:$primary-color;
    padding-bottom:4px;
    padding-right:30px;
    margin-top:20px;
    color: $secondary-font;
    &.calloutheader--sunnygrass {
        border-color:$sunny-grass;
    }
    &.calloutheader--unitransred {
        border-color:$unitrans-red;
    }
    &.calloutheader--secondary {
        border-color:$secondary-color;
    }
}

ol.breadcrumb {
    padding-top: 16px;
    list-style: none;
    border-radius: 4px;
    border: 0px;
    display: block;
    li {
        font-size: 1.2rem;
    }
    a {
        color: $primary-color;
        // &:hover {
        //     color: darken($primary-color, 20%);
        // }
    }
    > li {
        display: inline-block;
        & + li:before {
            padding: 0 5px;
        }
    }
    >.active a {
        color: $secondary-font;
    }
    >li+li:before {
        color: $primary-color;
        content: "/";
    }
}

.section_divider {
    margin-bottom: 10%;
}

// ul {
//     li {
//         &.bullet-divider:after {
//             content: "\2022";
//             font-size: 20px;
//             color:$tertiary-font;
//         }
//     }
// }
//images 
.imagewrapper {
    width: auto;
    margin-top: 7px;
    img {
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px;
    }
    &.imagewrapper--left {
        float: left;
        max-width: 300px;
        padding-right: 5%;
    }
    &.imagewrapper--right {
        float: right;
        max-width: 300px;
        padding-left: 5%;
    }
    &.imagewrapper--fullwidth img {
        width: 100%;
    }
    &.imagewrapper--thumb {
        float: left;
        max-width: 45%;
        padding-right: 3%;
        padding-top: 0px;
        padding-bottom: 4%;
        max-height: 240px;
        margin-top:0px;
    }
}

.btn {
    padding: 8px 20px;
    margin-top: 2.5%;
    background-color: $secondary-color;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.15) inset;
    border-radius: 2px;
    font-family: $sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    // text-transform: uppercase;
    text-decoration: none;
    &:hover {
        opacity: .85;
        color: #fff;
    }
    &.btn-red {
        background-color: $unitrans-red;
    }
    &.btn-blue {
        background-color: $blue;
    }
    &.btn-green {
        background-color: $sunny-grass;
    }
    &.btn-newsletter {
        background-color: $sunny-grass;
    }
}

.float-right {
    float: right;
}

.bg-sunny-grass {
    background-color: $sunny-grass !important;
}

.bg-wine-grape {
    background-color: $wine-grape !important;
}

.bg-recpool-blue {
    background-color: $recpool-blue !important;
}

.bg-unitrans-red {
    background-color: $unitrans-red !important;
}

.bg-golden-lupine {
    background-color: $golden-lupine !important;
}

.bg-california-poppy {
    background-color: $california-poppy !important;
}

// Video
.video_wrapper {
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    margin-bottom: 3%;
    position: relative;
    // overflow:hidden;
    .video_words {
        margin: 0 auto;
        width: 100%;
        max-width: 60rem;
        margin-top: -100px;
    }
}
