
.banner {
    background-color:$primary-color;
    padding:2% 0;
    .banner_contents {
        @include container;
    }
}
.btn {
    padding: 14px 30px 12px;
    margin-top: 2.5%;
    background-color:$secondary-color;
    box-shadow: 0px -3px 0px rgba(0, 0, 0, 0.15) inset;
    border-radius: 2px;
    font-family: $sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        opacity: .85;
        color: #fff;
    }
    &.darken_primary {
        background-color:darken($primary-color,25)
    }
}
.float-right {
  float:right;
}