//
// @font-face {
//   font-family: 'klinic_light';
//   src:
//        url('/fonts/klinic_light.woff') format('woff'), Pretty Modern Browsers
//        url('/fonts/klinic_light.ttf')  format('truetype'), /* Safari, Android, iOS */
// }

// fonts
    $sans-serif:        "signo",arial, sans-serif;// light 200, book 300, regular 400
    $serif:             "serifa",Georgia, serif;// light 300, book 400, regular 500

// pretty colors 

    $primary-color:   rgb(215,65,32);
    $secondary-color: complement($primary-color); 

    $primary-font:      #333433; // p,li color in main content
    $secondary-font:    #5a585c; // p,li color in portlet/sidebar
    $tertiary-font:     #A6A6A6; // summary, discreet

    $cydoval_gray:      #444B58;  // logo gray
    
    $bg-color:          rgb(247,247,247); // background
    $borders:           #C8C7CC; // border color

// mixins

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 1250px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 1000px) { @content ; }
  }
  @else if $point == rufus {
     @media (max-width: 850px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 750px) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 600px)  { @content ; }

  }
  @else if $point == smallmobile {
     @media (max-width: 450px)  { @content ; }

  }
}

@mixin container {
    max-width:1200px;
    width:80%;
    margin:0 auto;
    min-width:300px;
}