
.main_search {
    width:100%;
    margin:0 auto;
    border-bottom:1px solid $borders;
    padding-bottom:20px;
    margin-bottom:20px;
}
form.small_search {
    input {
        background-image:url(/media/search_form.svg);
        background-repeat:no-repeat;
        background-size: 20px 20px;
        width:200px;
        font-size:1.6rem;
        color:$primary-font;
        background-color:#fff;
        border-radius:2px;
        border:1px solid $borders;
        height:32px;
        padding-left:35px;
        background-position:10px center;
        margin-top:6px;
        box-sizing:inherit !important;
    }
}
form.search_form {
    input.search_input {
        width:85%;
        font-size:1.6rem;
        color:$primary-font;
        background-color:#fff;
        border-radius:2px;
        border:1px solid $borders;
        height:40px;
        margin-top:1px;
        padding-left:10px;
        background-position:10px center;
    }
    input.search_go {
        width:14%;
        font-size:1.6rem;
        border-radius:0px;
        height:40px;
    }
}
form {
    .main {
        background-color: $bg-color;
        padding: 2%;
        border-left: 3px solid $mint-green;
        padding-left: 4%
    }
}

label {
    display: block;
    font-family: $sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondary-font;
    text-transform: uppercase;
    margin-bottom: 5px;
}
