form {
    background-color: $bg-color;
    padding: 2%;
    border-left: 3px solid $mint-green;
    padding-left: 4%
}

label {
    display: block;
    font-family: $sans-serif;
    font-weight:600;
    font-size: 1.2rem;
    color:$secondary-font;
    text-transform: uppercase;
    margin-bottom:5px;
}
