form {
    main {
    background-color: $bg-color;
    padding: 2%;
    border-left: 3px solid $mint-green;
    padding-left: 4%
    }
}

label {
    display: block;
    font-family: $sans-serif;
    font-weight:600;
    font-size: 1.2rem;
    color:$secondary-font;
    text-transform: uppercase;
    margin-bottom:5px;
}


.sb-search {
    position: relative;
    // margin-top: 10px;
    width: 0%;
    min-width: 40px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    // outline: 1px solid $borders;
    width: 100%;
    height: 44px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 16px;
    color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {
    color: $blue;
}

.sb-search-input:-moz-placeholder {
    color: $blue;
}

.sb-search-input::-moz-placeholder {
    color: $blue;
}

.sb-search-input:-ms-input-placeholder {
    color: $blue;
}

.sb-icon-search,
.sb-search-submit  {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius:50%;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: $blue;
    z-index: 90;
    font-size: 18px;
    font-family: $sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

// .sb-icon-search:before {
//     content: "\e000";
// }

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: $blue;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}