.pushy {
    display: none;
    @include breakpoint(tablet) {
        display: inline;
    }
}

.nav-wrapper {
    @include container;
}

.menu-btn,
.close-btn {
    font-size: 30px;
    color: #333333;
    display: none;
    margin-left: 5%;
    @include breakpoint(tablet) {
        display: inline;
    }
}

#slideout-nav ul {
    list-style: none;
}

#main-nav {
    border-bottom: 1px solid $borders;
    @include breakpoint(tablet) {
        display: none;
    }
    ul {
        text-align: left;
        display: inline;
        margin: 0;
        padding: 20px 4px 20px 0;
        list-style: none;
        li {
            display: inline-block;
            margin-right: -4px;
            position: relative;
            padding: 15px 20px;
            cursor: pointer;
            color: #5a585c;
            &:hover a {
                color: $primary-color;
            }
            a {
                color: #5a585c;
                font-weight: 600;
            }
        }
    }
    ul.dropdown {
        padding: 0;
        position: absolute;
        top: 55px;
        left: 0;
        width: 100%;
        min-width: 150px;
        /* width of drop down box */
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        li {
            background-color: #fff;
            display: block;
            color: #DDB307;
            &:hover {
                background-color: $bg-color;
            }
            a {
                text-transform: none;
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
}

#main-nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
