.banner {
    background-color: $primary-color;
    padding: 2% 0;
    &.banner_fish {
        background-image:url(/media/fish_banner.jpg);
        background-size: cover;
        background-repeat:no-repeat;
        h2, p {
        	text-shadow: 1px 1px 2px rgba(28, 28, 28, 1);
        }
    }
    .banner_contents {
        @include container;
    }
}