// baseline typography
html {
	font-size:10px;
	-webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    line-height:1.5;
    @include breakpoint(tablet) {
	    font-size:8px;
	}
	@include breakpoint(mobile) {
	    font-size:7px;
	}
}
a {
	text-decoration:none;
	color:$primary-color;
	&:hover {
		color:$secondary-color;
	}
}
// ol {
// 	padding-left:0px;
// 	li {
// 		font-size:1.5rem;
// 		letter-spacing:.025rem;
// 		font-family:$serif;
// 		color:$primary-font;
// 		a {
// 			// font-size1.5rem;
// 		}
// 	}
// }
ul, ol {
	padding-left:0px;
	li {
		font-size:1.5rem;
		letter-spacing:.025rem;
		font-family:$serif;
		color:$primary-font;
		a {
			// font-size1.5rem;
		}
	}
	&.no-bullet li {
		list-style-type: none;
	}
}
ul.footer-list {
		list-style-type: none;
		padding-left:0px;
		margin-bottom:0px;
		display:inline-block;
		li {
			display:inline-block;
			border-right:1px solid transparentize($primary-color,.5);
			padding-right:10px;
			margin-right:10px;
			padding-top:0px;
			padding-bottom:0px;
			padding-left:0px;
			&:last-child {
				border-right:none;
			}
		}
	}
p {
	line-height:1.625;
	letter-spacing:.025rem;
	font-size:1.6rem;
	font-family:$sans-serif;
	color:$primary-font;
	.banner & {
		color:#fff;
	}
}

h1, h2, h3, h4, h5, h6 {
	color:$primary-font;
	font-family:$serif;
	margin-top:1rem;
	margin-bottom:1rem;
	line-height:1.5;
	font-family:$serif;
}
h1, .h1 {
	font-size:2.8rem;
	&.document_header {
		margin-bottom:5px;
		font-weight:400;
		color:$primary-font;
	}
}
h2, .h2 {
	font-size:2.2rem;
	font-weight:400;
	color:$secondary-font;
	.banner & {
		color:#fff;
		font-family: $sans-serif;
	}
	&.document_description {
		padding-bottom:8px;
		margin-bottom:8px;
		border-bottom:1px solid $borders;
		font-size:1.6rem;
		color:$tertiary-font;
		font-weight:400;
		margin-top:0px;
	}
}
h3, .h3 {
	font-size:2rem;
}
h4, .h4 {

}
h5, .h5 {

}
