---
layout: default
---

<div class="banner">
    <div class="banner_contents">
        <h2>Grid</h2>
        <p>
            Taken from Skeleton.css
        </p>
    </div>
</div>
<main>
    <div class="main_contents">
        <aside>
            <h3>Lagunitas</h3>
            <p>Adding new quotes to the generator nearly daily. Shareable quote images coming in a few days.</p>
        </aside>
        <article>
            <div class="grid">
                <h6 class="docs-header">The grid</h6>
                <p>The grid is a <u>12-column fluid grid with a max width of 960px</u>, that shrinks with the browser/device at smaller sizes. The max width can be changed with one line of CSS and all columns will resize accordingly. The syntax is simple and it makes coding responsive much easier. Go ahead, resize the browser. </p>
                <div class="example-grid docs-example">
                    <div class="row">
                        <div class="one column">One</div>
                        <div class="eleven columns">Eleven</div>
                    </div>
                    <div class="row">
                        <div class="two columns">Two</div>
                        <div class="ten columns">Ten</div>
                    </div>
                    <div class="row">
                        <div class="three columns">Three</div>
                        <div class="nine columns">Nine</div>
                    </div>
                    <div class="row">
                        <div class="four columns">Four</div>
                        <div class="eight columns">Eight</div>
                    </div>
                    <div class="row">
                        <div class="five columns">Five</div>
                        <div class="seven columns">Seven</div>
                    </div>
                    <div class="row">
                        <div class="six columns">Six</div>
                        <div class="six columns">Six</div>
                    </div>
                    <div class="row">
                        <div class="seven columns">Seven</div>
                        <div class="five columns">Five</div>
                    </div>
                    <div class="row">
                        <div class="eight columns">Eight</div>
                        <div class="four  columns">Four</div>
                    </div>
                    <div class="row">
                        <div class="nine columns">Nine</div>
                        <div class="three columns">Three</div>
                    </div>
                    <div class="row">
                        <div class="ten columns">Ten</div>
                        <div class="two columns">Two</div>
                    </div>
                    <div class="row">
                        <div class="eleven columns">Eleven</div>
                        <div class="one column">One</div>
                    </div>
                </div>
                <!-- CODE EXAMPLE ———————————————————————————————————————— -->
                <pre class="code-example"><code style="" class="code-example-body prettyprint prettyprinted"><span class="com">&lt;!-- .container is main centered wrapper --&gt;</span><span class="pln">
</span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"container"</span><span class="tag">&gt;</span><span class="pln">

  </span><span class="com">&lt;!-- columns should be the immediate child of a .row --&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"one column"</span><span class="tag">&gt;</span><span class="pln">One</span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"eleven columns"</span><span class="tag">&gt;</span><span class="pln">Eleven</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;/div&gt;</span><span class="pln">

  </span><span class="com">&lt;!-- just use a number and class 'column' or 'columns' --&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"two columns"</span><span class="tag">&gt;</span><span class="pln">Two</span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"ten columns"</span><span class="tag">&gt;</span><span class="pln">Ten</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;/div&gt;</span><span class="pln">

  </span><span class="com">&lt;!-- there are a few shorthand columns widths as well --&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"one-third column"</span><span class="tag">&gt;</span><span class="pln">1/3</span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"two-thirds column"</span><span class="tag">&gt;</span><span class="pln">2/3</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"row"</span><span class="tag">&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"one-half column"</span><span class="tag">&gt;</span><span class="pln">1/2</span><span class="tag">&lt;/div&gt;</span><span class="pln">
    </span><span class="tag">&lt;div</span><span class="pln"> </span><span class="atn">class</span><span class="pun">=</span><span class="atv">"one-half column"</span><span class="tag">&gt;</span><span class="pln">1/2</span><span class="tag">&lt;/div&gt;</span><span class="pln">
  </span><span class="tag">&lt;/div&gt;</span><span class="pln">

</span><span class="tag">&lt;/div&gt;</span><span class="pln">

</span><span class="com">&lt;!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) --&gt;</span></code>
</pre>
                <!-- ————————————————————————————————————————————————————— -->
            </div>
        </article>
    </div>
</main>
