---
layout: default
---

<main>
    <div class="main_contents">
        <aside>
            <h3>News</h3>
            <p>This is a news template!</p>
        </aside>
        <article>
            <img class="image_wrapper img_article_main" src="{{ page.image }}">
            <h1 class="document_heade">{{ page.title }}</h1>
            <h1 class="post-title">{{ page.publish }}</h1>
            <h5 class="feed-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h5>
           	<p>{{ content }}</p>
        </article>
    </div>
</main>
