<!DOCTYPE html>
<html>

  {% include head.html %}
	{% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="3; url=/">
   	{% endif %}
  <body>

    {% include header.html %}

    
        {{ content }}


    {% include footer.html %}

  </body>
  <!-- Modal -->
  <script>
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
  </script>
  <!--   slider -->
  <script type="text/javascript">
  $(window).load(function() {
      $('#slider').nivoSlider();
  });</script>
  <!-- active nav -->
  <script type="text/javascript">
  $(function() {
     if (location.pathname.split("/")[1]) {
         $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
     }
  });
  </script>
  <!-- Typekit -->
  <script src="https://use.typekit.net/ved8sye.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <!-- Searchpopup -->
  <script src="/js/classie.js"></script>
  <script src="/js/uisearch.js"></script>
  <script>
    new UISearch( document.getElementById( 'sb-search' ) );
  </script>

  <!-- lightbox -->
  <script>
    $('#myLightbox').lightbox(options)
  </script>
  <script src="/js/bootstrap-lightbox.min.js"></script>
</html>
