<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

<!-- Site Overlay -->
<div class="site-overlay"></div>
<!-- Your Content -->
<div id="pushy-container">
    <!-- Menu Button -->
    <!--<div class="menu-btn">&#9776;</div>-->
  

    <!--  <div class="close-btn">
        <i class="fa fa-times"></i>
    </div> -->
    
</div>


    {% include header.html %}

    
        {{ content }}


    {% include footer.html %}

  </body>
  <!-- Modal -->
  <script>
    $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
  </script>
  <!--   slider -->
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
  </script>
  <!-- active nav -->
  <script type="text/javascript">
    $(function() {
       if (location.pathname.split("/")[1]) {
           $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
       }
    });
  </script>
  <!-- Searchpopup -->
  <script src="/js/classie.js"></script>
  <script src="/js/uisearch.js"></script>
  <script>
    new UISearch( document.getElementById( 'sb-search' ) );
  </script>
    <script>
       $(".breadcrumb li").last().addClass('active');
    </script>
    <script>
      $(document).ready(function(){
  $('.gallery').featherlightGallery();
});
    </script>
    <script src="/js/tab-bootstrap.js"></script>
    <script>
          $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
          })
          $('#myTabs a[href="#profile"]').tab('show') // Select tab by name
          $('#myTabs a[href="#home"]').tab('show') // Select tab by name
          $('#myTabs a[href="#settings"]').tab('show') // Select tab by name
          $('#myTabs a[href="#messages"]').tab('show') // Select tab by name
    </script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/js/pushy.min.js"></script>
  

</html>
